---
title: Marc Bodmer
body_class: index
---
%header
  %h1 Marc Bodmer
  %ul.social-list
    %li.twitter
      %a(href='http://twitter.com/marcbodmer')Twitter
    %li.github
      %a(href='http://github.com/m-bodmer')Github
    %li.email
      / TODO: Tooltip with email
      %a(href='mailto:marc.bodmer@gmail.com')Email
    %li.blog
      / TODO: Tooltip with email
      %a(href='http://blog.mbodmer.com')Blog

%section.intro
  %h2 Intro
  %article
    %p<
      Hi, I'm Marc. I am a software developer working in the beautiful city of
      %a(href='https://goo.gl/maps/5ZtwZ')<
        %b Toronto.
      I love creating great software that is easy and fun to use.
      I enjoy teaching about software and giving back to the community to spread a wider knowledge of what software development is all about. I love open source and how it shows off developers willing to come together and create software for the better. I have written a book and sold hundreds of copies,
      %a(href='https://www.youtube.com/watch?v=8uzHVA6IRdQ')<
        %b
          give talks at local technology meetups,
      %a(href='http://blog.mbodmer.com')<
        %b
          write posts on various technologies,
      and
      %a(href='http://learninglabs.org/meet-the-mentors-for-our-introduction-to-web-design-in-toronto/')<
        %b mentor for Ladies Learning Code.
      In my spare time, you can find me rock climbing, travelling and eating all types of food.

%section.work
  %h2 My Work
  .items
    .item.five-hundred
      .images
        %img.inline(src='images/500px.png')
        %img.inline(src='images/500px2.png')
      .details
        %h3 500px
        %h4 Ruby on Rails • JavaScript • Backbone
        %p 500px is a photo community for discovering, sharing, buying and selling inspiring photography powered by creative people worldwide.
    .item.confabulation
      %img(src='images/confabulation.png')
      .details
        %h3 Confabulation
        %h4 Ruby on Rails • JavaScript • Angular
        %p A conference application to plan conferences with, as well as provide a mobile friendly information portal for conference attendees.
    .item.red-flag
      %img(src='images/rfd.png')
      .details
        %h3 RedFlagDeals
        %h4 PHP • JavaScript
        %p Helping Canadians save money and time by viewing sales, coupons, promotions and freebies from hundreds of stores in one place!

%footer
  .copyright
    %p Made with 100% organic code
  %ul.social-list
    %li.twitter
      %a(href='http://twitter.com/marcbodmer')Twitter
    %li.github
      %a(href='http://github.com/m-bodmer')Github
    %li.email
      / TODO: Tooltip with email
      %a(href='mailto:marc.bodmer@gmail.com')Email
