---
title: Marc Bodmer
body_class: index
---
%header
  %ul.social-list
    %li.work
      %a(href='#work')Work
    %li.twitter
      %a(href='http://twitter.com/marcbodmer')Twitter
    %li.github
      %a(href='http://github.com/m-bodmer')Github
    %li.email
      %a(href='mailto:marc.bodmer@gmail.com')Email
    %li.blog
      %a(href='http://blog.mbodmer.com')Blog

%section.intro
  %h1 Marc Bodmer
  %article
    %p<
      Hi, I'm Marc. I am a software developer working in the beautiful city of
      %a(href='https://goo.gl/maps/5ZtwZ')<
        %b Toronto.
      I love creating great software that is easy and fun to use.
      I enjoy teaching about software and giving back to the community to spread a wider knowledge of what software development is all about. I love open source and how it shows off developers willing to come together and create software for the better.
      %br
      %br
      I have written a technical tutorial book and sold hundreds of copies of it,
      %a(href='https://www.youtube.com/watch?v=8uzHVA6IRdQ')<
        %b
          give talks at local technology meetups,
      %a(href='http://blog.mbodmer.com')<
        %b
          write posts on various technologies,
      and
      %a(href='http://learninglabs.org/meet-the-mentors-for-our-introduction-to-web-design-in-toronto/')<
        %b mentor for Ladies Learning Code.
      In my spare time, you can find me rock climbing, travelling and eating all types of food.

%section#work.work
  .items
    .item.teehan-lax
      .details
        %h3 Teehan+Lax
        %h4 JavaScript | Node.JS | Ember
        %p Teehan+Lax, one of the most influential design agencies in the world.
      %img(src='images/yg.png')
        
    .item.five-hundred
      .details
        %h3 500px
        %h4 Ruby on Rails | JavaScript | Backbone
        %p 500px is a photo community for discovering, sharing, buying and selling inspiring photography powered by creative people worldwide.
      %img(src='images/500px.jpg')
    .item.red-flag
      .details
        %h3 RedFlagDeals
        %h4 PHP | JavaScript
        %p Helping Canadians save money and time by viewing sales, coupons, promotions and freebies from hundreds of stores in one place!
      %img(src='images/rfd.png')

%footer
  .copyright
    %p Made with 100% organic code
  %ul.social-list
    %li.twitter
      %a(href='http://twitter.com/marcbodmer')Twitter
    %li.github
      %a(href='http://github.com/m-bodmer')Github
    %li.email
      %a(href='mailto:marc.bodmer@gmail.com')Email
